// Colors
$color-default: #203A45;
$color-primary: #1E97D4;
$color-success: #41D492;
$color-info: #5C59ED;
$color-warning: #F2B51D;
$color-danger: #F26666;
$color-white: #fff;
$color-black: #000;
$color-secondary: rgba(0, 0, 0, .4);
$color-yellow: #FFE200;

$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-github: #4078c0;