.color-white {
    color: #fff !important;
}

.color-secondary {
  color: $color-secondary !important;
}

.color-black {
    color: #000 !important;
}

.color-black-min {
  color: rgba(0, 0, 0, .6) !important;
}

.color-primary {
    color: $color-primary !important;
}

.bg-light {
    background-color: $color-white !important;
}

.bg-blue {
  background-color: #155AA7 !important;
}

.bg-white {
    background-color: $color-white !important;
}

.bg-primary {
    background-color: $color-primary !important
}

.bg-secondary {
    background-color: $color-secondary !important;
}

.bg-dark {
    background-color: $color-black !important;
}

.bg-black {
    background-color: $color-black !important;
}

.bg-ocean {
  background-color: #EFFAFF !important;
}

.float-left {
    float: left !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

h1 {
    font-size: 34px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

.font-light {
    font-weight: 300 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: 600 !important;
}

.font-700 {
    font-weight: 700 !important;
}

.font-uppercase {
    text-transform: uppercase !important;
}

button,
button {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
    border-color: transparent;
}

a {
    color: $color-primary;
    transition: .2s;
}
a:hover {
    color: $color-primary;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.btn-border-primary {
    outline: none;
    border: 1px solid $color-primary;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 6px 10px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-primary.active {
    border-color: $color-primary;
    background-color: $color-primary;
    opacity: .87;
    color: #fff;
    pointer-events: none;
}

.btn-border-primary:hover,
.btn-border-primary:focus,
.btn-border-primary:active,
.btn-border-primary:not(:disabled):not(.disabled):active {
    border-color: $color-primary;
    background-color: $color-primary;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.btn-border-secondary {
    outline: none;
    border: 1px solid #DFCC99;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-secondary.active {
    border-color: #DFCC99;
    background-color: #DFCC99;
    opacity: 1;
    color: #fff;
    pointer-events: none;
}

.btn-border-secondary:hover,
.btn-border-secondary:focus,
.btn-border-secondary:active,
.btn-border-secondary:not(:disabled):not(.disabled):active {
    border-color: #DFCC99;
    background-color: #DFCC99;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}


.btn-border-black {
    outline: none;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 4px 30px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-black.active {
    border-color: #000;
    background-color: #000;
    opacity: 1;
    color: #fff;
    pointer-events: none;
}

.btn-border-black:hover,
.btn-border-black:focus,
.btn-border-black:active,
.btn-border-black:not(:disabled):not(.disabled):active {
    border-color: #000;
    background-color: #000;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}


.btn-primary {
    display: inline-block;
    outline: none;
    border-color: transparent;
    background-color: $color-primary;
    color: #fff !important;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 300;
    border-radius: 0px;
    transition: .3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    background-color: $color-primary;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.btn-yellow {
  display: inline-block;
  outline: none;
  border-color: transparent;
  background-color: $color-yellow;
  color: #000 !important;
  font-size: 13px;
  padding: 6px 40px;
  font-weight: 300;
  border-radius: 0px;
  transition: .3s;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow:not(:disabled):not(.disabled):active {
  border-color: transparent;
  background-color: $color-yellow;
  opacity: .87;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}

.btn-secondary {
    border-radius: 0px;
    display: inline-block;
    outline: none;
    border-color: transparent;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 0px;
    transition: .3s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}

.btn-grey {
    display: inline-block;
    outline: none;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #C3C3C3;
    color: #fff;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 300;
    border-radius: 0px;
    transition: .3s;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey:not(:disabled):not(.disabled):active {
    background-color: #000;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff !important;
    text-decoration: none;
}


.btn-white {
    background-color: #fff;
    border: 1px solid transparent;
    color: $color-primary;
    font-size: 13px;
    padding: 6px 25px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:not(:disabled):not(.disabled):active {
    background-color: $color-primary;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.img-fix {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-fix2 {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.box-shadow {
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=email],
input[type=password],
.form-control {
    height: 36px;
}

textarea.form-control {
  height: inherit;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
.form-control {
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    color: #5c6873;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 10px 12px;
    transition: .2s;
}

input:focus,
textarea:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $color-primary;
}


input::placeholder,
textarea::placeholder,
.form-control::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}

/*===========================================*/
/*-------------- Image Upload -------------- */
/*===========================================*/

.file-image {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 100px;
  border: 1px solid transparent;
  .action {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      color: $color-primary;
      background-color: rgba(0, 0, 0, .4);
  }
  .action:hover {
      opacity: 1;
      cursor: pointer;
  }
  .action i {
      margin-top: 60px;
      font-size: 40px;
  }
  .action p {
      margin-bottom: 0;
  }
  input {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      width: 0;
  }
  .reset {
      cursor: pointer;
      display: block;
      position: absolute;
      right: 0;
      text-align: center;
      background: rgba(0, 0, 0, .8);
      width: 30px;
      line-height: 1.2;
      height: 30px;
      border-radius: 50%;
  }
  .reset:before {
      content: '\d7';
      font-family: inherit;
      font-style: normal;
      font-size: 26px;
      color: #fff;
  }
  .image {
      background-color: #F0F0F0;
      cursor: pointer;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-left: 0;
      margin-bottom: 0;
      transition: .3s;
  }

  .image:hover {
      background-color: $color-primary;
  }

  .image:before,
  .image:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      line-height: 0;
      color: #ababab;
      text-align: center;
  }

  .image:before {
      // content: "\f030";
      // font-family: "Font Awesome 5 Free";
      // font-weight: 900;
      content: "\e07f";
      font-family: 'simple-line-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 0;
      font-size: 40px;
      color: #fff;
  }
  .image:after {
      display: none;
      content: "Add Image";
      font-weight: 300;
      margin-top: 35px;
  }
  .reset,
  .action {
      display: none
  }

  input:not([title=""])~.reset {
      display: block
  }

  input:not([title=""])~.image {
      /*border: 1px solid #e4e4e4;*/
      pointer-events: none;
  }

  input:not([title=""])~.image:before,
  input:not([title=""])~.image:after {
      display: none
  }
  input:not([title=""])~.action {
      display: block
  }
}

.custom-select {
    border-radius: 1px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% 50%;
    border: none;
    border: 1px solid #e4e4e4;
    outline: none;
    font-size: 13px;
    padding: 5px 12px;
    height: 36px;
    transition: .3s;
    color: rgba(0, 0, 0, .6);
}

.custom-select:focus {
    outline: none;
    border-color: $color-primary;
}

.form-control.border-bottom {
  border: none;
  font-family: 'Circular';
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0px;
  transition: .2s;
}

.form-control.border-bottom::placeholder {
  color: rgba(0,0,0,.3);
}

.form-control.border-bottom:focus {
  border-bottom: 1px solid $color-primary !important;
}

// input border-none

.form-control.border-none {
  border: none;
  font-family: 'Circular';
  padding: 10px 0px;
  transition: .2s;
}

.form-control.border-none::placeholder {
  color: rgba(0,0,0,.3);
}

.form-control.border-none:focus {
  // border-bottom: 1px solid $color-primary !important;
}

.vertical-top {
    vertical-align: top;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:not(:disabled):not(.disabled):active {
    outline: none;
    border-color: inherit;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

hr.transparent {
    border-color: transparent;
}

hr.white {
    border-color: rgba(255,255,255,.5);
}

hr.short-line {
    width: 40px;
    margin-top: .3rem;
    margin-bottom: 1.4rem;
    border-width: 2px;
    border-color: $color-primary;
}

hr.short-line.left {
    width: 40px;
    margin: 0px;
    margin-top: .3rem;
    margin-bottom: 1.4rem;
    border-width: 2px;
    border-color: $color-primary;
}

.border-radius-70px {
  border-radius: 70px !important;
}

.border-radius-10px {
  border-radius: 10px !important;
}

.border-radius-5px {
  border-radius: 5px !important;
}

.border-radius-20px {
  border-radius: 20px !important;
}

.border-radius-30px {
  border-radius: 30px !important;
}

.img-circle-60 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.img-circle-70 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.img-circle-80 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.img-circle-100 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.modal-custom-image {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            border-radius: 0px;
            padding: 10px;
            background: #000;
            border-bottom: none;
            .modal-title {
                font-weight: normal;
                font-size: 14px;
                color: #fff;
            }
            .close {
                color: #fff;
                opacity: 1;
                line-height: 0.8;
            }
        }
        .modal-body {
            border-radius: 0px;;
            padding: 5px;
        }
    }
}

.color-red {
  color: crimson !important;
}

body {
  font-family: 'Circular' !important;
  font-weight: normal !important;
  color: #4D4D4D;
}

body.login-section {
  background-image: url('/img/bg1.jpg');
  background-repeat: no-repeat;
  // background-size: cover;
  .logo-img {
    text-align: center;
    img {
      height: 80px;
    }
  }
  .box-login {
    padding: 30px 40px;
    background-color: $color-white;
    border-radius: 6px;
  }
}

body.main-section {
  background-image: url('/img/bg1.jpg');
  background-repeat: no-repeat;
  // background-size: cover;
  .logo-img {
    text-align: center;
    img {
      height: 80px;
    }
  }
  .box-main {
    padding: 30px 40px;
    background-color: $color-white;
    border-radius: 6px;
  }
}

body.register-section {
  background-image: url('/img/bg2.jpg');
  background-repeat: no-repeat;
  // background-size: cover;
  .logo-img {
    text-align: center;
    img {
      height: 80px;
    }
  }
  .box-register {
    padding: 30px 40px;
    background-color: $color-white;
    border-radius: 6px;
  }
}

.page-header {
  .page-subtitle {
    color: rgba(255,255,255,.8);
  }
}

.navbar-brand {
  img {
    height: 50px;
  }
}

.navbar-spark {
  .navbar-nav > li > a {
    color: rgba(255,255,255,.9);
  }
  .navbar-nav > .active > a, 
  .navbar-nav > .active > a:hover, 
  .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
    border-top: 6px solid transparent;
  }
}

.navbar {
  padding-bottom: 4.5rem;
  .dropdown-toggle::after {
    display: none;
  }
}

.navbar-spark .navbar-nav .dropdown-menu {
  left: -130px;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px;
  li {
    border-bottom: 1px solid #e4e4e4;
    a {
      padding: 10px 18px;
      color: rgba(0, 0, 0, .7);
      border-radius: 5px;
      line-height: normal;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .media-items.custom {
    .media {
      .content {
        padding: 8px 14px;
        line-height: 1.3;
        font-size: 14px;
        color: rgba(0, 0, 0, .7);
      }
    }
  }
}

.page-title-wrapper {
  .page-title {
    color: #fff;
    font-weight: 300;
    font-size: 38px;
  }
  .page-subtitle {
    color: rgba(255,255,255,.8);
    font-size: 16px;
  }
}

.top-header {
  padding-top: 2.5rem;
  padding-bottom: .5rem;
  .logo-img {
    height: 50px;;
  }
}

.widget > .card-heading .card-title {
  color: $color-primary;
}

.front-info {
  margin-top: 10px;
  line-height: 2;
  color: rgba(0, 0, 0, .6);
}

.widget {
  border-radius: 5px;
  .card-heading {
    border-radius: 5px 5px 0px 0px;
  }
  .card-body {
    border-radius: 0px 0px 5px 5px;
  }
}

.table.border-none {
  td {
    padding: .6rem 0px;
    border: none;
    .icon-table {
      img {
        margin-top: -4px;
        height: 20px;
      }
    }
    a {
      .icon-table {
        margin-left: 8px;
        img {
          margin-top: -10px;
          height: 22px;
        }
      }
    }
  }
}

.border-left {
  border-left: 1px solid #e4e4e4;
}

.box-masternode {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 15px 10px;
  .head {
    height: 80px;
    margin-bottom: 10px;
  }
  .body {
    padding: 15px;
    border-radius: 5px;
    background-color: #EFFAFF;
  }
}

.box-masternode-detail {
  .head {
    margin-bottom: 10px;
    .img-box {
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      padding: 20px;
    }
  }
  .body {
    padding: 15px;
    border-radius: 5px;
    background-color: #EFFAFF;
  }
}

.card-body {
  .nav-tabs {
    .nav-link {
      font-size: 13px;
      padding: 6px 10px;
      border-radius: 0px;
      color: rgba(0, 0, 0, .6);
    }
    .nav-link.active {
      color: $color-primary;
    }
  }
  .tab-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.card-body.custom-detail-tab {
  .nav-tabs {
    .nav-link {
      text-align: center;
      width: 50%;
      font-size: 13px;
      padding: 6px 10px;
      border-radius: 0px;
    }
  }
}

.card-body.tab-triple {
  .nav-tabs {
    .nav-link {
      text-align: center;
      width: 33%;
      font-size: 13px;
      border-radius: 0px;
    }
  }
}

.media.custom-box {
  border: 1px solid #e4e4e4;
  padding: 15px 10px;
}

.min-height-400 {
  min-height: 400px;
}

.min-height-500 {
  min-height: 500px;
}

.table.color {
  th {
    padding: .6rem 0px;
  }
  td {
    color: rgba(0, 0, 0, .65);
    padding: .6rem 0px;
    .icon-table {
      img {
        margin-top: -4px;
        height: 20px;
      }
    }
    a {
      .icon-table {
        margin-left: 8px;
        img {
          margin-top: -10px;
          height: 22px;
        }
      }
    }
  }
}

.profile-section {
  .profile-custom {
    .img-border {
      position: relative;
      border-radius: 50px;
      border: 2px solid $color-primary;
      padding: 4px;
      height: 100px;
      width: 100px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50px;
      }
    }
  }
  img.badge-profile {
    height: 25px;
    margin-right: 4px;
  }
}

.row-custom-10 {
  margin-left: -10px;
  margin-right: -10px;
  .col-custom-10 {
      padding-left: 10px;
      padding-right: 10px;
  }
}

.row-custom-8 {
  margin-left: -8px;
  margin-right: -8px;
  .col-custom-8 {
      padding-left: 8px;
      padding-right: 8px;
  }
}

.row-custom-6 {
  margin-left: -6px;
  margin-right: -6px;
  .col-custom-6 {
      padding-left: 6px;
      padding-right: 6px;
  }
}

.row-custom-5 {
  margin-left: -5px;
  margin-right: -5px;
  .col-custom-5 {
      padding-left: 5px;
      padding-right: 5px;
  }
}

.mainNav {
  .nav-item {
    .nav-link {
      font-size: 14px;
      color: rgba(0, 0, 0, .6);
    }
  }
  .nav-item.active {
    .nav-link {
      color: $color-primary;
    }
  }
}

.btn-decrement,
.btn-increment {
  border-radius: 0px;
  border: 1px solid #e4e4e4;
  transition: .2s;
  &:hover {
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
}

.inputSpinnerCustom {
  border: 1px solid #e4e4e4;
}

.logo-tab-deposit {
  img {
    height: 60px;
  }
}

.logo-title {
  height: 23px;
  margin-top: -8px;
  margin-right: 10px;
}

.modal.custom {
  .modal-dialog {
    .modal-content {
      .modal-header {
        text-align: center;
        background-color: $color-primary;
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}

.box-my-masternode {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 20px;
  .img-my-masternode {
    width: 100%;
  }
  .box-under {
    text-align: center;
    border: 1px solid #e4e4e4;
    padding: 10px 15px;
  }
}

.input-group.custom {
  input.form-control {
    font-size: 14px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
    border-radius: 0px;
    border-right: 0px;
    border-radius: 20px 0px 0px 20px;
  }
  input::placeholder {
      font-size: 12px;
      color: rgba(0, 0, 0, .4);
  }
  input:focus {
      outline: none;
      border-color: #e4e4e4;
  }
  button {
    border-radius: 0px 20px 20px 0px;
    outline: none;
    box-shadow: none;
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    // padding-left: 30px;
    // padding-right: 30px;
  }
}

// custom modal animation
.modal.fade {
  .modal-dialog {
    transform: translate(0, 0);
  }
}

.box-referral {
  img {
    height: 70px;
  }
}

.box-points {
  .head {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .body {
    .title-big {
      font-size: 3rem;
      line-height: 1;
      font-weight: bold;
    }
  }
  .coin1 {
    height: 30px;
    margin-top: -20px;
  }
  .coin2 {
    margin-top: -8px;
    height: 18px;
  }
  color: #fff !important;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: $color-primary;
  padding: 25px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
}

// custom upload

.upload-custom {
  margin-top: 4px;
  .custom-file {
    cursor: pointer;
    .custom-file-input {
      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  .custom-file-label {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 1.7;
    color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    cursor: pointer;
  }
  .custom-file-label::after,
  .custom-file-input:lang(en)~.custom-file-label::after {
    content: "Upload" !important;
    background-color: #C3C3C3;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 4px 4px 0px;
  }
  .custom-file-input:focus~.custom-file-label {
    box-shadow: none !important;
    outline: none !important;
  }
}

.account-section {
  .img-circle-100 {
    border: 1px solid rgba(0, 0, 0, .1)
  }
  .title-account {
    color: rgba(0, 0, 0, .5);
  }
}

// toggle custom
.switch.custom {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider-toggle {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    i {
      line-height: 2.5;
        margin-left: 13px;
        color: rgba(255, 255, 255, .85);
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        opacity: 0;
        transition: .1s;
    }
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 5px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
  input:checked + .slider-toggle {
    background-color: #23B852;
  }
  
  input:focus + .slider-toggle {
    box-shadow: 0 0 1px #23B852;
  }
  
  input:checked + .slider-toggle:before {
    -webkit-transform: translateX(64px);
    -ms-transform: translateX(64px);
    transform: translateX(64px);
  }
  input:checked + .slider-toggle i {
    opacity: 1;
  }
}

label.error {
  color: crimson;
  font-size: 13px;
  margin-bottom: 0px;
}

.splash {
  .icon {
    background: $color-primary;
  }
}

.card-dashboard-1 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 280px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 180px;
      overflow-y: auto;
    }
  }
}

.card-dashboard-2 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 480px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 380px;
      overflow-y: auto;
      .icon-table {
        margin-left: 0px;
        margin-right: 8px;
      }
    }
  }
}
.card-dashboard-3 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 480px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 380px;
      overflow-y: auto;
    }
  }
}

.card-dashboard-4 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 340px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 240px;
      overflow-y: auto;
    }
  }
}

.card-dashboard-5 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 420px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 320px;
      overflow-y: auto;
    }
  }
}

.card-dashboard-6 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 390px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 270px;
      overflow-y: auto;
    }
  }
}

.card-dashboard-7 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 180px;
  // background-color: $color-primary;
  background-image: linear-gradient(#1E97D4, #006FC1);
  .custom-join-dashboard {
    text-align: center;
    .join-dashboard {
      width: 80% !important;
      object-position: center;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
}

.card-dashboard-8 {
  box-shadow: 0px 16px 20px 0px rgba(219, 219, 219, 0.55);
  min-height: 590px;
  .card-body {
    box-shadow: none;
    .scroll-box-custom {
      height: 450px;
      overflow-y: auto;
    }
  }
}

@media (max-width: 575px) {
  .table-container {
    overflow-x: scroll;
    table {
      td, th {
        min-width: 100px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    padding-top: .7rem;
    padding-bottom: .7rem;
    .dropdown-toggle::after {
      display: none;
    }
  }
  .top-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .logo-img {
      margin-left: 5px;
    }
  }
}

// color-primary: #1E97D4